@font-face {
    font-family: "flaticon_broadband";
    src: url("../fonts/flaticon_broadband.ttf?bc969aa27ab5c1a6b9a73a42fb327221") format("truetype"),
url("../fonts/flaticon_broadband.woff?bc969aa27ab5c1a6b9a73a42fb327221") format("woff"),
url("../fonts/flaticon_broadband.woff2?bc969aa27ab5c1a6b9a73a42fb327221") format("woff2"),
url("../fonts/flaticon_broadband.eot?bc969aa27ab5c1a6b9a73a42fb327221#iefix") format("embedded-opentype"),
url("../fonts/flaticon_broadband.svg?bc969aa27ab5c1a6b9a73a42fb327221#flaticon_broadband") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_broadband !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-call:before {
    content: "\f101";
}
.flaticon-camera:before {
    content: "\f102";
}
.flaticon-age-limit:before {
    content: "\f103";
}
.flaticon-water:before {
    content: "\f104";
}
.flaticon-script:before {
    content: "\f105";
}
.flaticon-smartphone:before {
    content: "\f106";
}
.flaticon-ranking:before {
    content: "\f107";
}
.flaticon-train:before {
    content: "\f108";
}
.flaticon-film-editing:before {
    content: "\f109";
}
.flaticon-electric:before {
    content: "\f10a";
}
.flaticon-ticket:before {
    content: "\f10b";
}
.flaticon-agriculture:before {
    content: "\f10c";
}
.flaticon-cinema-seats:before {
    content: "\f10d";
}
.flaticon-cctv:before {
    content: "\f10e";
}
.flaticon-actress:before {
    content: "\f10f";
}
.flaticon-server:before {
    content: "\f110";
}
.flaticon-action-movie:before {
    content: "\f111";
}
.flaticon-scanner:before {
    content: "\f112";
}
.flaticon-award:before {
    content: "\f113";
}
.flaticon-gear:before {
    content: "\f114";
}
.flaticon-accreditation:before {
    content: "\f115";
}
.flaticon-processor:before {
    content: "\f116";
}
.flaticon-speaker:before {
    content: "\f117";
}
.flaticon-plane:before {
    content: "\f118";
}
.flaticon-file:before {
    content: "\f119";
}
.flaticon-people:before {
    content: "\f11a";
}
.flaticon-battery:before {
    content: "\f11b";
}
.flaticon-bell:before {
    content: "\f11c";
}
.flaticon-book:before {
    content: "\f11d";
}
.flaticon-monitor:before {
    content: "\f11e";
}
.flaticon-skycraper:before {
    content: "\f11f";
}
.flaticon-router:before {
    content: "\f120";
}
.flaticon-shield:before {
    content: "\f121";
}
.flaticon-smartwatch:before {
    content: "\f122";
}
.flaticon-headphone:before {
    content: "\f123";
}
.flaticon-thermometer:before {
    content: "\f124";
}
.flaticon-fire:before {
    content: "\f125";
}
.flaticon-payment:before {
    content: "\f126";
}
.flaticon-virtual-reality:before {
    content: "\f127";
}
.flaticon-game:before {
    content: "\f128";
}
.flaticon-drone:before {
    content: "\f129";
}
.flaticon-cloud:before {
    content: "\f12a";
}
.flaticon-padlock:before {
    content: "\f12b";
}
.flaticon-mouse:before {
    content: "\f12c";
}
.flaticon-hand:before {
    content: "\f12d";
}
.flaticon-coin:before {
    content: "\f12e";
}
.flaticon-hand-1:before {
    content: "\f12f";
}
.flaticon-key:before {
    content: "\f130";
}
.flaticon-keyboard:before {
    content: "\f131";
}
.flaticon-lamp:before {
    content: "\f132";
}
.flaticon-laptop:before {
    content: "\f133";
}
.flaticon-magnifying-glass:before {
    content: "\f134";
}
.flaticon-pin:before {
    content: "\f135";
}
.flaticon-car:before {
    content: "\f136";
}
.flaticon-world:before {
    content: "\f137";
}
.flaticon-smarthome:before {
    content: "\f138";
}
.flaticon-shopping:before {
    content: "\f139";
}
.flaticon-robot-arm:before {
    content: "\f13a";
}
.flaticon-remote:before {
    content: "\f13b";
}
.flaticon-planet:before {
    content: "\f13c";
}
.flaticon-chat:before {
    content: "\f13d";
}
.flaticon-award-1:before {
    content: "\f13e";
}
.flaticon-microphone:before {
    content: "\f13f";
}
.flaticon-music-notes:before {
    content: "\f140";
}
.flaticon-projector:before {
    content: "\f141";
}
.flaticon-spotlight:before {
    content: "\f142";
}
.flaticon-spotlight-1:before {
    content: "\f143";
}
.flaticon-video-camera:before {
    content: "\f144";
}
.flaticon-actor:before {
    content: "\f145";
}
.flaticon-microphone-1:before {
    content: "\f146";
}
.flaticon-film-roll:before {
    content: "\f147";
}
.flaticon-3d-glasses:before {
    content: "\f148";
}
.flaticon-director-chair:before {
    content: "\f149";
}
.flaticon-countdown:before {
    content: "\f14a";
}
.flaticon-comedy:before {
    content: "\f14b";
}
.flaticon-camera-drone:before {
    content: "\f14c";
}
.flaticon-ticket-office:before {
    content: "\f14d";
}
.flaticon-rec:before {
    content: "\f14e";
}
.flaticon-microphone-2:before {
    content: "\f14f";
}
.flaticon-countdown-1:before {
    content: "\f150";
}
.flaticon-stage:before {
    content: "\f151";
}
.flaticon-clapperboard:before {
    content: "\f152";
}
.flaticon-video-player:before {
    content: "\f153";
}
.flaticon-red-carpet:before {
    content: "\f154";
}
.flaticon-dress:before {
    content: "\f155";
}
.flaticon-soft-drink:before {
    content: "\f156";
}
.flaticon-make-up:before {
    content: "\f157";
}
.flaticon-film-budget:before {
    content: "\f158";
}
.flaticon-cinema:before {
    content: "\f159";
}
.flaticon-copyright:before {
    content: "\f15a";
}
.flaticon-film-reel:before {
    content: "\f15b";
}
.flaticon-romantic-movie:before {
    content: "\f15c";
}
.flaticon-hd-screen:before {
    content: "\f15d";
}
.flaticon-popcorn:before {
    content: "\f15e";
}
.flaticon-edit-video:before {
    content: "\f15f";
}
.flaticon-release:before {
    content: "\f160";
}
.flaticon-spotlight-2:before {
    content: "\f161";
}
.flaticon-dialogue:before {
    content: "\f162";
}
.flaticon-rating:before {
    content: "\f163";
}
.flaticon-3d-film:before {
    content: "\f164";
}
