/*** 

====================================================================
Main Header
====================================================================

***/

.header-span {
  position: relative;
  height: 110px;
  display: block;
  width: 100%;
}

.main-header {
  position: relative;
  width: 100%;
  z-index: 999;
}

.header-top {
  position: relative;
  display: flex;
  .inner-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 80px;
    @include media-breakpoint-down(xxl) {
      padding: 0 20px;
    }
  }
  .top-left {
    position: relative;
    display: flex;
    align-items: center;
  }
  .top-right {
    position: relative;
    display: flex;
    align-items: center;
    .social-icon-one {
      margin-left: 41px;
    }
  }

  .useful-links {
    display: flex;
    align-items: center;
    padding: 10px 50px;
    li {
      position: relative;
      margin-left: 20px;
      font-size: 12px;
      color: #777777;
      line-height: 25px;
      &:first-child {
        margin-left: 0;
      }
      a {
        color: #777777;
        transition: all 300ms ease;
        &:hover {
          color: var(--theme-color1);
        }
      }
    }
  }
}

.main-header .header-lower {
  position: relative;
  transition: all 300ms ease;
  .logo-box {
    position: relative;
    padding: 20px 0;
  }
}

.main-header {
  width: 100%;
  z-index: 999;
  .logo {
    position: relative;
    display: block;

    img {
      max-width: 100%;
      height: auto;
    }
  }
  .main-box {
    position: relative;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    transition: all 300ms ease;
    .nav-outer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.main-menu {
  position: relative;
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.main-menu .navbar-header {
  display: none;
}

.main-menu .navbar-collapse {
  padding: 0px;
}

.main-menu .navigation {
  position: relative;
  margin: 0px;
}

.main-menu .navigation > li {
  position: relative;
  float: left;
  padding: 30px 0px;
  margin-right: 50px;
  transition: all 300ms ease;
  &:before {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 10px;
    height: 1px;
    width: 0%;
    background-color: var(--bg-theme-color1);
    z-index: 3;
    content: "";
    transition: all 300ms ease;
  }
  &:last-child {
    margin-right: 0;
  }
  &:hover:before,
  &.current:before {
    left: 0;
    width: 100%;
  }
  > a {
    position: relative;
    display: block;
    text-align: center;
    opacity: 1;
    font-size: 15px;
    color: var(--theme-color-dark);
    line-height: 30px;
    font-weight: 700;
    padding: 0;
    text-transform: uppercase;
    display: flex;
    @include title-font;
    transition: all 300ms ease;
    .icon {
      position: relative;
      font-size: 22px;
      line-height: 24px;
      margin-left: 10px;
    }
    &:hover {
      color: var(--theme-color1);
    }
  }
  &.current > a {
    color: var(--theme-color1);
  }
  &.dropdown > a {
    padding-right: 15px;
    margin-right: -15px;
  }
  &.dropdown > a:after {
    content: "\f067";
    position: absolute;
    right: 0;
    top: 50%;
    width: 10px;
    height: 20px;
    display: block;
    line-height: 24px;
    font-size: 12px;
    z-index: 5;
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    margin-top: -2px;
    transform: translateY(-50%);
  }
  &.dropdown:hover > ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
    margin-top: 0;
    transition: all 300ms ease;
  }
}

.main-menu .navigation > li > ul {
  position: absolute;
  left: 0px;
  top: 100%;
  width: 220px;
  z-index: 100;
  padding: 10px 0 0;
  background-color: #ffffff;
  margin-top: 30px;
  opacity: 0;
  display: none;
  box-shadow: 0 0 3px rgb(0 0 0 / 10%);
  box-shadow:
    2px 2px 5px 1px rgb(0 0 0 / 5%),
    -2px 0px 5px 1px rgb(0 0 0 / 5%);
  &.from-right {
    left: auto;
    right: 0px;
  }
  > li {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ebf1f5;
    &:last-child {
      border-bottom: none;
    }
    > a {
      position: relative;
      display: block;
      padding: 10px 0px;
      line-height: 29px;
      font-weight: 400;
      font-size: 16px;
      color: var(--theme-color-dark);
      text-align: left;
      margin: 0 30px;
      text-transform: capitalize;
      transition: all 200ms ease;
    }
    &:hover > a {
      color: var(--theme-color1);
    }
    &.dropdown > a:after {
      font-family: "Font Awesome 6 Pro";
      content: "\f105";
      position: absolute;
      right: 0;
      top: 11px;
      display: block;
      line-height: 24px;
      font-size: 14px;
      font-weight: 900;
      z-index: 5;
    }
    &.dropdown:hover > ul {
      visibility: visible;
      opacity: 1;
      top: 0px;
      margin-top: 20px;
      transition: all 300ms ease;
    }
  }
}

.main-menu .navigation > li > ul > li > ul {
  position: absolute;
  left: 100%;
  top: 0px;
  width: 220px;
  z-index: 100;
  display: none;
  background-color: #ffffff;
  opacity: 0;
  padding: 10px 0 0;
  margin-top: 10px;
  transform: translateY(-30px);
  box-shadow:
    2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  > li {
    position: relative;
    border-bottom: 1px solid #ebf1f5;
    width: 100%;
    &:last-child {
      border-bottom: none;
    }
    > a {
      position: relative;
      display: block;
      padding: 10px 0;
      line-height: 24px;
      font-weight: 400;
      font-size: 16px;
      color: var(--theme-color-dark);
      text-align: left;
      margin: 0 30px;
      text-transform: capitalize;
      transition: all 300ms ease;
      &:hover {
        color: var(--theme-color1);
      }
    }
  }
}

.main-menu .navigation li.dropdown .dropdown-btn {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 34px;
  height: 30px;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  cursor: pointer;
  z-index: 5;
  display: none;
}

.main-header .outer-box {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  .theme-btn {
    margin-left: 40px;
    font-size: 12px;
    text-transform: uppercase;
  }
}
.main-header {
  .ui-btn-outer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 6px 0;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 17px;
    position: relative;
    right: 117px;
  }
}

.main-header .ui-btn {
  position: relative;
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: none;
  font-size: 24px;
  color: var(--theme-color-dark);
  margin-left: 15px;
  transition: all 300ms ease;
  .count {
    position: absolute;
    right: -10px;
    top: -10px;
    height: 21px;
    width: 21px;
    line-height: 21px;
    background-color: var(--bg-theme-color1);
    font-size: 10px;
    border-radius: 50%;
    color: #ffffff;
  }
  &:hover {
    color: var(--theme-color1);
  }
}

.main-header .info-btn {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: var(--theme-color1);
  background-color: #f2f3f7;
  padding: 10px 30px 10px 75px;
  border-radius: 50px;
  white-space: nowrap;
  text-align: left;
  font-weight: 700;
  @include title-font;
  small {
    display: block;
    font-size: 12px;
    line-height: 1em;
    font-weight: 700;
    @include title-font;
    color: var(--theme-color-dark);
  }
  .icon {
    position: absolute;
    left: 0;
    margin-top: -12px;
    line-height: 54px;
    height: 54px;
    width: 54px;
    @include flex-center;
    font-size: 24px;
    line-height: 1em;
    background-color: var(--bg-theme-color1);
    color: var(--theme-color-light);
    border-radius: 50%;
    transition: all 300ms ease;
    &:before {
      position: relative;
    }
    &:after {
      position: absolute;
      left: -4px;
      top: -4px;
      right: -4px;
      bottom: -4px;
      background-color: var(--bg-theme-color1);
      border-radius: 50%;
      opacity: 0.1;
      content: "";
    }
  }
  &:hover {
    color: var(--theme-color1);
    .icon {
      transform: scaleX(-1);
      background-color: var(--bg-theme-color2);
    }
  }
}

.divider {
  margin: 0 40px;
  height: 40px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/*** 

====================================================================
Header Style One
====================================================================

***/

.header-style-one {
  position: relative;
  background-color: #ffffff;
  .header-top {
    margin-left: 420px;
    @include for-xxl {
      margin-left: 0;
    }
    @include media-breakpoint-down(lg) {
      display: none;
    }
    .inner-container {
      padding-left: 80px;
      padding-right: 0;
      border-bottom: 1px solid #e1e1e1;
      @include for-xxl {
        padding-left: 20px;
        .useful-links {
          display: none;
        }
      }
    }
  }
  .header-lower {
    .logo-box {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 420px;
      margin-top: -46px;
      height: 165px;
      margin-right: 80px;
      background-color: var(--bg-theme-color3);
      @include for-xxl {
        margin-top: 0;
        height: auto;
        min-width: 280px;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 60px;
      }
      @include media-breakpoint-down(sm) {
        min-width: auto;
        margin-right: 0;
        min-width: 150px;
      }
    }
  }
  .main-box {
    padding-right: 80px;
    @include for-xxl {
      padding-right: 20px;
    }
    .main-menu .navigation > li {
      @include for-xxl {
        margin-right: 45px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .outer-box {
      .divider {
        @include media-breakpoint-down(xl) {
          display: none;
        }
      }
      .info-btn {
        @include media-breakpoint-down(xxl) {
          display: none;
        }
      }
    }
  }
}

/*** 

====================================================================
    Header Style Two
====================================================================

***/

.header-style-two {
  position: relative;
  background-color: #ffffff;
  .header-top {
    margin-left: 405px;
    @media (max-width: 1800px) {
      margin-left: 0;
    }
    @include media-breakpoint-down(lg) {
      display: none;
    }
    .inner-container {
      padding-left: 80px;
      padding-right: 0;
      border-bottom: 1px solid #e1e1e1;
      @media (max-width: 1617px) {
        padding-left: 20px;
        .useful-links {
          display: none;
        }
      }
    }
  }
  .header-lower {
    background-color: #062a58;
    .logo-box {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 420px;
      margin-top: -46px;
      height: 165px;
      margin-right: 80px;
      background-color: #f5f5f6;
      @media (max-width: 1800px) {
        margin-top: 0;
        height: auto;
        min-width: 280px;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 23px;
      }
    }
  }
  .main-box {
    padding-right: 0px;
    @media (min-width: 1500px) {
      padding-right: 60px;
    }

    .main-menu .navigation > li {
      > a {
        color: var(--theme-color-light);
      }
      margin-right: 40px;

      @media (max-width: 1600px) {
        margin-right: 25px;
      }
    }
    .outer-box {
      .ui-btn {
        color: rgba(255, 255, 255, 0.6);
        &:hover {
          color: var(--theme-color-light);
        }
        @include media-breakpoint-down(lg) {
          color: #ffffff;
        }
      }
      .divider {
        @include media-breakpoint-down(xl) {
          display: none;
        }
      }
      .info-btn {
        background-color: rgba(255, 255, 255, 0.06);
        color: var(--theme-color-light);
        small {
          color: var(--theme-color-light);
        }
        @include media-breakpoint-down(xxl) {
          display: none;
        }
      }
    }
  }
}

/*** 

====================================================================
    Header Style Three
====================================================================

***/

.header-style-three {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  @include media-breakpoint-down(lg) {
    top: 15px;
  }
  .header-top {
    margin: 0;
    @include media-breakpoint-down(lg) {
      display: none;
    }
    .inner-container {
      padding: 0;
      border-bottom: 0;
    }
    .list-style-one {
      li {
        padding-right: 25px;
        margin-right: 25px;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        a {
          color: var(--theme-color-light);
        }
        color: var(--theme-color-light);
      }
    }
    .social-icon-one {
      li {
        a {
          height: 48px;
          width: 50px;
          line-height: 48px;
        }
      }
    }
  }
  .header-lower {
    background-color: transparent;
  }
  .main-box {
    padding: 0 30px;
    padding-right: 55px;
    background-color: var(--theme-color-light);
    justify-content: space-between;
    border-radius: 5px;
    @include media-breakpoint-down(xl) {
      padding: 0 20px;
    }
    .logo-box {
      min-height: 110px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-right: 30px;
      @include media-breakpoint-down(sm) {
        min-height: auto;
      }
    }
    .nav-outer {
      width: auto;
    }

    .main-menu .navigation > li {
      @include for-xxl {
        margin-right: 45px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .outer-box {
      .divider {
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
      .cart-btn {
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
  }
}

/*** 

====================================================================
    Header Style Four
====================================================================

***/

.header-style-four {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  @include media-breakpoint-down(lg) {
    top: 15px;
  }
  .header-lower {
    background-color: transparent;
  }
  .main-box {
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    @include media-breakpoint-down(xl) {
      padding: 0 20px;
      padding-left: 0;
    }
    .logo-box {
      display: flex;
      justify-content: center;
      flex-direction: column;
      min-height: 80px;
      min-width: 236px;
      background-color: var(--theme-color-light);
      text-align: center;
      margin-right: 40px;
      @include media-breakpoint-down(sm) {
        min-height: 70px;
        margin-right: 0;
        min-width: auto;
        max-width: 140px;
        padding: 0 15px;
      }
    }

    .nav-outer {
      @include media-breakpoint-down(lg) {
        width: auto;
      }
    }
    .main-menu .navigation > li {
      > a {
        color: var(--theme-color-light);
      }
      padding: 25px 0;
      @include for-xxl {
        margin-right: 45px;
        &:last-child {
          margin-right: 0;
        }
      }
      > ul > li:hover {
        > a {
          color: var(--theme-color5);
        }
        > ul > li:hover {
          > a {
            color: var(--theme-color5);
          }
        }
      }
    }
    .outer-box {
      .theme-btn {
        line-height: 30px;
        padding: 25px 40px;
        font-size: 16px;
        text-transform: capitalize;
        @include media-breakpoint-down(xl) {
          display: none;
        }
      }
      .ui-btn {
        color: rgba(255, 255, 255, 0.6);
      }
      .cart-btn {
        .count {
          background-color: var(--bg-theme-color4);
        }
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
      .mobile-nav-toggler {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
  .contact-list-one {
    .contact-info-box .icon {
      color: var(--theme-color5);
    }
  }

  .sticky-header {
    .main-menu .navigation > li {
      > ul > li:hover {
        > a {
          color: var(--theme-color5);
        }
        > ul > li:hover {
          > a {
            color: var(--theme-color5);
          }
        }
      }
    }
  }
}

/*** 

====================================================================
Header Style Five
====================================================================

***/

.header-style-five {
  position: relative;
  background-color: #ffffff;
  .header-top {
    background-color: var(--theme-color-dark);
    margin-left: 420px;
    @include for-xxl {
      margin-left: 0;
    }
    @include media-breakpoint-down(lg) {
      display: none;
    }
    .inner-container {
      padding-left: 80px;
      padding-right: 0;
      border-bottom: 0;
      @include for-xxl {
        padding-left: 20px;
        .useful-links {
          display: none;
        }
      }
      .list-style-one {
        li {
          i {
            color: var(--theme-color6);
          }
        }
      }
      .social-icon-one li a {
        background-color: var(--theme-color6);
        &:hover {
          background-color: var(--theme-color7);
        }
      }
    }
  }
  .header-lower {
    .logo-box {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 420px;
      margin-top: -46px;
      height: 165px;
      margin-right: 80px;
      background-color: var(--theme-color-dark);
      @include for-xxl {
        margin-top: 0;
        height: auto;
        min-width: 280px;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 60px;
      }
      @include media-breakpoint-down(sm) {
        min-width: auto;
        margin-right: 0;
        min-width: 150px;
      }
    }
  }
  .main-box {
    padding-right: 80px;
    @include for-xxl {
      padding-right: 20px;
    }
    .main-menu .navigation > li {
      &.current {
        > a {
          color: var(--theme-color7);
        }
        &:before {
          background-color: var(--bg-theme-color6);
        }
      }
      @include for-xxl {
        margin-right: 45px;
        &:last-child {
          margin-right: 0;
        }
      }
      > ul > li:hover {
        > a {
          color: var(--theme-color7);
        }
        > ul > li:hover {
          > a {
            color: var(--theme-color7);
          }
        }
      }
    }
    .outer-box {
      .divider {
        @include media-breakpoint-down(xl) {
          display: none;
        }
      }
      .ui-btn {
        &:hover {
          color: var(--theme-color7);
        }
        .count {
          background-color: var(--bg-theme-color6);
        }
      }
      .info-btn {
        color: var(--theme-color6);
        .icon {
          background-color: var(--bg-theme-color7);
          &:after {
            background-color: var(--theme-color7);
          }
        }
        @include media-breakpoint-down(xxl) {
          display: none;
        }
      }
      .mobile-nav-toggler {
        color: var(--theme-color-dark);
      }
    }
  }

  .contact-list-one {
    .contact-info-box .icon {
      color: var(--theme-color6);
    }
  }

  .sticky-header {
    .main-menu .navigation > li {
      > ul > li:hover {
        > a {
          color: var(--theme-color7);
        }
        > ul > li:hover {
          > a {
            color: var(--theme-color7);
          }
        }
      }
    }
  }
}

/*** 

====================================================================
Sticky Header
====================================================================

***/

.sticky-header {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 0px 0px;
  z-index: 99999;
  background: #ffffff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.sticky-header.fixed-header {
  opacity: 1;
  z-index: 9999;
  visibility: visible;
}

.sticky-header {
  .logo {
    padding: 10px 0;
    img {
      max-height: 40px;
    }
  }
  .nav-outer {
    position: relative;
    background: none;
  }
  .inner-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.sticky-header .main-menu .navigation > li {
  margin: 0;
  margin-left: 60px;
  padding: 20px 0;
}

.sticky-header .main-menu .navigation > li > a {
  color: var(--theme-color-dark);
}

.sticky-header .main-menu .navigation > li.current > a,
.sticky-header .main-menu .navigation > li:hover > a {
  color: var(--theme-color-dark);
}

.sticky-header .outer-box,
.sticky-header .navbar-header {
  display: none;
}

.sticky-header .mobile-nav-toggler {
  color: var(--theme-color-dark);
}

@media only screen and (min-width: 768px) {
  .main-menu .navigation > li > ul,
  .main-menu .navigation > li > ul > li > ul {
    display: block !important;
    visibility: hidden;
    opacity: 0;
  }
}
