/*** 

====================================================================
Section Title
====================================================================

***/

.sec-title {
    position: relative;
    margin-bottom: 60px;
    .sub-title {
        position: relative;
        display: inline-block;
        font-size: var(--sec-title-subtitle-font-size);
        line-height: var(--sec-title-subtitle-line-height);
        font-weight: var(--sec-title-subtitle-font-weight);
        font-family: var(--sec-title-subtitle-font-family);
        color: var(--sec-title-subtitle-color);
        text-transform: uppercase;
        letter-spacing: .2em;
        padding-left: 18px;
        margin-bottom: 15px;
        &:after,
        &:before{
            position: absolute;
            left: 5px;
            top: 0;
            height: 15px;
            width: 4px;
            background-color: var(--bg-theme-color1);
            transform: skewX(-25deg);
            content: "";
        }
    }
    h2 {
        position: relative;
        display: block;
        font-size: var(--sec-title-font-size);
        color: var(--sec-title-color);
        font-family: var(--sec-title-font-family);
        font-weight: var(--sec-title-font-weight);
        letter-spacing: -.01em;
        line-height: 1.18em;
        margin-bottom: 0;
        z-index: 2;
        @include media-breakpoint-down(sm){
            font-size: 36px;
            br{display: none;}
        }
    }
    .text {
        margin-top: 25px;
    }

    &.style-two{
        .sub-title{
            &::before,
            &::after{
                background-color: var(--theme-color4);
            }
        }
    }

    &.style-three{
        .sub-title{
            color: var(--theme-color6);
            padding-left: 0 !important;
            padding-right: 0 !important;
            &::before,
            &::after{
                display: none;
            }
        }
        &.light{
            .sub-title{
                color: var(--theme-color6);
            }
        }
    }

    &.light{
        .sub-title,
        .text,
        h2,
        h1{
            color: #fff;
        }
    }

    &.text-center{
        .sub-title{
            padding-right: 15px;
            &:after{
                left: auto;
                right: 0;
            }
        }
        h2{
            &:before{
                left: 50%;
                margin-left: -15px;
            }
        }
    }
    
}
